header{background: linear-gradient(to bottom,#4d4dff,#ccccff)}
body{background:white }
h1{
    color:rgb(0, 0, 0);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 252, 252);    
}
h2{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, sans-serif;
}